<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    <form name="f" method="post" action="/process_login">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

        <label for="username">Enter your name: </label>
        <input type="text" name="username" id="username">
        <br>
        <label for="password">Enter your password: </label>
        <input type="password" name="password" id="password">
        <br>
        <input type="submit" value="Войти">

        <div th:if="${param.error}" style="color: red">
            Incorrect data
        </div>
    </form>

    <button><a href="/auth/registration">Have no account?</a></button>

</body>
</html>