<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
</head>
<body>

    <form th:method="PATCH" th:action="@{/books/{id} (id=${book.getId()})}" th:object="${book}">
        <label for="name">Введите новое название книги:</label>
        <input type="text" th:field="*{name}" id="name">
        <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        <br>
        <label for="author">Введите нового автора книги:</label>
        <input type="text" th:field="*{author}" id="author">
        <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div>
        <br>
        <label for="date_of_creation">Введите новую год создания книги:</label>
        <input type="text" th:field="*{dateOfCreation}" id="date_of_creation">
        <div style="color: red" th:if="${#fields.hasErrors('dateOfCreation')}" th:errors="*{dateOfCreation}"></div>
        <br>
        <input type="submit" value="Обновить"/>
    </form>

</body>
</html>