<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new book</title>
</head>
<body>

    <form th:method="POST" th:action="@{/books}" th:object="${book}">
        <label for="name">Введите название книги:</label>
        <input type="text" th:field="*{name}" id="name">
        <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        <br>
        <label for="author">Введите автора книги:</label>
        <input type="text" th:field="*{author}" id="author">
        <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div>
        <br>
        <label for="dateOfCreation">Введите год создания книги:</label>
        <input type="text" th:field="*{dateOfCreation}" id="dateOfCreation">
        <div style="color: red" th:if="${#fields.hasErrors('dateOfCreation')}" th:errors="*{dateOfCreation}"></div>
        <br>
        <input type="submit" value="Добавить в библиотеку"/>
    </form>

</body>
</html>