<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Info about book</title>
</head>
<body>
    <br>
    <td th:text="${'Книга: ' + book.getName() + ', ' + book.getAuthor() + ', ' + book.getDateOfCreation()}"></td>

    <div th:if="${hasOwner}">
        <br>
        <span>Эта книга сейчас у </span> <span th:text="${hasOwner.getName}"
                                               th:href="@{/people/{id} (id=${hasOwner.getId()})}"></span>

        <form th:method="PATCH" th:action="@{/books/{id}/refundBook (id = ${book.getId()})}">
            <input type="submit" value="Освободить книгу">
        </form>
    </div>

    <div th:if="${people}">
        <br>
        <span>Эта книга свободна. Кому назначить её?</span>
        <br>

        <form th:method="PATCH" th:action="@{/books/{id}/appointBook (id = ${book.getId()})}">
            <label for="person">Выберите человека: </label>
            <select th:object="${person}" th:field="*{id}" id="person">
                <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getName()}"></option>
            </select>

            <input type="submit" value="Назначить книгу">
        </form>
    </div>

    <hr>

    <table>
        <tr>
            <button><a style="text-decoration: none" th:href="@{/books/{id}/edit (id=${book.getId()})}">Редактировать данные о книге</a></button>
            <br>
            <form th:method="DELETE" th:action="@{/books/{id} (id=${book.getId()})}">
                <input type="submit" value="Удалить книгу">
            </form>
        </tr>
    </table>

</body>
</html>