<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit person</title>
</head>
<body>

    <form th:method="PATCH" th:action="@{/people/{id} (id=${person.getId()})}" th:object="${person}">
        <label for="username">Введите новое имя человека: </label>
        <input type="text" th:field="*{username}" id="username"/>
        <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        <br/>
        <label for="age">Введите новый возраст человека: </label>
        <input type="text" th:field="*{age}" id="age"/>
        <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
        <br/>
        <input type="submit" value="Обновить"/>
    </form>

</body>
</html>