<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of people:</title>
</head>
<body>
    <b>Пользователи библиотеки:</b>
    <br>
    <div th:each = "person : ${people}">
        <a th:href = "@{/people/{id} (id = ${person.getId()})}"
           th:text = "${person.getName() + ', ' + person.getAge()}"></a>
    </div>
    <br>
    <hr>
    <button><a style="text-decoration: none" href="/people/new">Добавить человека</a></button>

</body>
</html>